{{define "page"}}

<style>
  @media screen and (min-width: 768px) {
    .files {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .files .file {
      flex-direction: column;
    }

    .files .file-name {
      text-align: center;
    }

    .files .file-icon {
      width: auto;
      height: 100px;
    }

    .files .file-line1,
    .files .file-line2,
    .files .file-line3 {
      display: none;
    }
  }
</style>

{{ $source := .source}}
<ul class="files">
  {{range .files}}
    <a href="?source={{$source}}&path={{.Path}}" class="file">
      <img class="file-icon" src="{{.Icon}}" alt="📃" />
      <div class="file-content">
        <span class="file-name">{{.Name}}</span>
        <span class="file-line1">{{.Line1}}</span>
        <span class="file-line2">{{.Line2}}</span>
        <span class="file-line3">{{.Line3}}</span>
      </div>
    </a>
  {{end}}
</ul>
{{end}}