{{define "page"}}

<style>
  .files {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .files a {
    text-decoration: none;
  }

  .file {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 500ms;
  }

  .file:hover {
    background-color: #efefef;
  }

  .file-icon {
    display: block;
    width: 65px;
    min-width: 65px;
  }

  .file-title {
    color: #111;
    font-weight: bold;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .file-content {
    display: flex;
    text-decoration: none;
    flex-direction: column;
  }

  .file-line1,
  .file-line2 {
    color: #333;
  }

  @media screen and (min-width: 768px) {
    .files {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .files .file {
      text-align: center;
      flex-direction: column;
    }

    .files .file-icon {
      width: auto;
      height: 100px;
    }

    .files .file-size {
      display: none;
    }

  }
</style>

<ul class="files">
  {{range .files}}
  <a href="?path={{ if eq .Path "/" }}{{.Path}}{{.Name}}{{else}}{{.Path}}/{{.Name}}{{end}}" class="file">
    <img class="file-icon" src="{{.Icon}}" alt="📃" />
    <div class="file-content">
      <span class="file-title">{{.Title}}</span>
      <span class="file-line1">{{.Line1}}</span>
      <span class="file-line2">{{.Line2}}</span>
      <span class="file-line3">{{.Line3}}</span>
      <span class="file-name">{{.Name}}</span>
      <span class="file-size">{{.Size}}</span>
    </div>
  </a>
  {{end}}
</ul>
{{end}}